name: Apply Python Black Formatter

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  format_code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Run Black formatter
        run: |
          black .

      - name: Check for changes after Black formatting
        id: check_changes
        run: |
          if git diff --exit-code; then
            echo "result=No Changes Made" >> $GITHUB_ENV
          else
            echo "result=Changes Made" >> $GITHUB_ENV
          fi
        continue-on-error: false 

      - name: Commit and push changes if changes detected
        if: ${{ env.result == 'Changes Made' }}
        run: |
          git config --global user.name "sharedhci"
          git config --global user.email "sharedhci@gmail.com"
          git add . 
          git commit -m "Apply Black code formatting to: ${{ github.event.pull_request.title }}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.SHARED_HCI_TOKEN }}
